* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: 'Roboto', sans-serif;
  color: $white;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $black;
}

h1 {
  @include title-huge;
}

h2 {
  @include title-big;
}

h3 {
  @include title-medium;
}

h4 {
  @include title-little;
}

h5 {
  @include title-miniature;
}

p {
  @include text-regular;
}

label{
  @include label-giant;
}

button{
  
}