// colors
$black: #000000;
$steel-gray: #181823;
$regent-gray: #8491a0;
$shuttle-gray: #5b6876;
$white: #ffffff;
$purple-heart: #5221e6;
$emerald: #3cc74e;
$deep-blush: #e95d90;
$serenade: #fff3e4;
$white-pointer: #fbe4ff;

//fonts
$font-weight-bold: 700;
$font-weight-regular: 400;

$font-size-huge: 78px;
$font-size-big: 55px;
$font-size-medium: 24px;
$font-size-little: 18px;
$font-size-miniature: 16px;

$font-line-height-huge: 93.84px;
$font-line-height-big: 66.17px;
$font-line-height-medium: 36px;
$font-line-height-little: 27px;
$font-line-height-miniature: 24px;

$font-size-text-big: 18px;
$font-size-text-regular: 16px;

$font-line-height-text-big: 27px;
$font-line-height-text-regular: 24px;

// sizes
$header-height-mobile: 72px;
$header-height-not-mobile: 88px;

$footer-height-regular: 144px;

// breakpoints
$mobile-width: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1440px)";

// layout
$container-width: 1296px;
$max-container-width: 1440px;
$gap-container-desktop: 72px;
$gap-container-tablet: 40px;
$gap-container-mobile: 20px;