// colors
$black: #000000;
$steel-gray: #181823;
$regent-gray: #8491A0;
$shuttle-gray: #5B6876;
$white: #FFFFFF;
$purple-heart: #5221E6;
$emerald: #3CC74E;
$deep-blush: #E95D90;
$serenade: #FFF3E4;
$white-pointer: #FBE4FF;

//fonts
$font-weight-bold: 700;
$font-weiht-regular: 400;

$font-size-huge: 78px;
$font-size-big: 55px;
$font-size-medium: 24px;
$font-size-little: 18px;
$font-size-miniature: 16px;

$font-line-height-huge: 93.84px;
$font-line-height-big: 66.17px;
$font-line-height-medium: 36px;
$font-line-height-little: 27px;
$font-line-height-miniature: 24px;