@import '@styles/variables.scss';

.menu {

    &__list{
        display: none;

        &--mini{
            display: flex;
            flex-direction: column;
            align-items: end;
    
            & > *{
                display: flex;
                justify-content: center;
                
                width: 150px;

                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

        @media #{$tablet-width}{
            display: flex;
            flex-direction: row;
    
            margin: 0;
            padding: 0;
    
            list-style: none;
    
            & > *{
                font-size: $font-size-text-regular;
                line-height: $font-line-height-text-regular;
                padding: 32px 24px 32px 24px;
            }
        }
    }

    &__button{
        border: none;

        background-color: $black;
        color : $white;

        user-select: none;
        
        &:active{
            background-color: $steel-gray;
        }

        &:nth-child(3){
            background-color: $purple-heart;

            &:active{
                background-color: $electric-violet;
            }
        }

        &:hover{
            cursor: pointer;
        }

        & > a{
            width: 100%;
            height: 100%;
        }
    }
}