@import "@styles/variables.scss";

.footer {
    height: $footer-height-mobile;
    background-color: $steel-gray;
    
    @media #{$tablet-width}{
        height: $footer-height-not-mobile;
    }

    &__container{
        height: inherit;
        max-width: $max-container-width;

        margin-inline: auto;
        padding-inline: $gap-container-mobile;
        padding-top: 32px;
    
        @media #{$tablet-width}{
            padding-inline: $gap-container-tablet;

        }
    
        @media #{$desktop-width}{
            padding-inline: $gap-container-desktop;
        }
    }

    &__row{
        display: flex;
        flex-direction: column;

        & > span {
            color: $regent-gray;
        }

        :first-child{
            order: 2;
        }


        @media #{$tablet-width}{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            :first-child{
                order: -1;
            }
        }
    }
}

.contact {
    &__box {
        width: 130.72px;
        margin-bottom: 16px;

        @media #{$tablet-width}{
            margin-bottom: 0;
        }
    }

    &__logo {
        width: 130.72px;
        height: 40px;
        margin-bottom: 16px;
    }
}