@import "@styles/variables.scss";

.footer {
    height: $footer-height-regular;
    background-color: $steel-gray;

    &__container{
        height: inherit;
        max-width: $max-container-width;

        margin-inline: auto;
        padding-inline: $gap-container-mobile;
        padding-top: 32px;
    
        @media #{$tablet-width}{
            padding-inline: $gap-container-tablet;

        }
    
        @media #{$desktop-width}{
            padding-inline: $gap-container-desktop;
        }
    }

    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contact {
    &__box {
        width: 130.72px;
    }

    &__logo {
        width: 130.72px;
        height: 40px;
        margin-bottom: 16px;
    }
}